---
import BlogPostsList from '../../components/BlogPostsList.astro';
import Layout from '../../layouts/Layout.astro';

---

<Layout title={"Willem's Blog"}>
	<div class="min-h-dvh flex items-center justify-center p-4">
		<div class="flex flex-col gap-4">
            <h1 class="text-2xl font-bold">All Posts</h1>
			<BlogPostsList />
		</div>
	</div>
</Layout>
