---
import BlogPostsList from '../components/BlogPostsList.astro';
import Profile from '../components/Profile.astro';
import Layout from '../layouts/Layout.astro';

const meta = {
	title: "Willem's Site",
	description: "Willem Lenig's personal site",
	type: "website",
}

---

<Layout meta={meta}>
	<div class="flex min-h-dvh items-center justify-center p-4">
		<div class="flex flex-col gap-4">
			<Profile />
			<div class="relative">
				<div class="absolute pb-8">
					<BlogPostsList />
				</div>
			</div>
		</div>
	</div>
</Layout>
