---
import Profile from '../components/Profile.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="min-h-dvh flex items-center justify-center p-4">
		<Profile />
	</div>
</Layout>
