---
import BlogPostsList from '../components/BlogPostsList.astro';
import Profile from '../components/Profile.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title={"Willem's Site"}>
	<div class="min-h-dvh flex items-center justify-center p-4">
		<div class="flex flex-col gap-4">
			<Profile />
			<BlogPostsList />
		</div>
	</div>
</Layout>
