---
import "../styles/blog.css"
import { formatDate } from "../lib/formatDate";
import Layout from "./Layout.astro";
import { Icon } from "astro-icon/components";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
	<div class="flex gap-4 flex-col container max-w-xl mx-auto p-4">
		<div class="flex">
			<a href="/" class="flex items-center gap-1 font-bold text-gray-600">
				<Icon name="fa:arrow-left" class="w-4"/>
				Home
			</a>
		</div>
		<div class="flex flex-col gap-4">
			<div>
				<h1 class="text-2xl text-pretty">{frontmatter.title}</h1>
				<span class="text-gray-600 text-nowrap">{formatDate(frontmatter.publishDate)}</span>
			</div>
			<slot />
		</div>
	</div>
</Layout>