---
import "../styles/blog.css"
import { formatDate } from "../lib/formatDate";
import Layout from "./Layout.astro";
import { Icon } from "astro-icon/components";

const { frontmatter } = Astro.props;

const meta = {
	title: frontmatter.title,
	type: "article",
	description: frontmatter.description,
}
---

<Layout meta={meta}>
	<div class="article-container">
		<a href="/" class="flex items-center gap-1 font-bold text-gray-600">
			<Icon name="fa:arrow-left" class="w-4"/>
			Home
		</a>
		<div>
			<h1 class="text-2xl text-pretty font-bold">{frontmatter.title}</h1>
			<span class="text-gray-600 text-nowrap">{formatDate(frontmatter.publishDate)}</span>
		</div>
		<slot />
	</div>
</Layout>