---
import "@fontsource/inter"
import "@fontsource/inter/700.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Willem's Site</title>
	</head>
	<body class="bg-slate-50">
		<slot />
	</body>
</html>